* {
    margin: 0;
    background-image: url('https://github.com/zachmeicho/Project-2/blob/master/assets/az_subtle.png?raw=true');
  }
  
  .wrapper {
    width: 90%;
    margin: 0 auto;
  }

  .nav {
    display: flex;
    background-image: url('https://github.com/zachmeicho/Project-2/blob/master/assets/az_subtle.png?raw=true');
    flex-wrap: wrap;
    height: 100px;
    justify-content: space-between;
    align-items: center;
  }

  .social {
      display:flex;
      flex-wrap: wrap;
      width: 300px;
      flex-direction: column;
  }

  .sociallinks {
      display: flex;
      justify-content: flex-end;
  }
  
.icons {
    display:flex;
    justify-content: flex-end;
    margin-right: 50px;
}

  .navbar {
    display: flex;
    justify-content: space-around;
    padding-left: 70px;
    padding-right: 50px;
    width: 300px;
    align-items: center;
  }
  
  
  h6 {
    padding-right: 50px;
  }

  .feature {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  

  

