* {
    margin: 0;
    background-image: url('https://github.com/zachmeicho/Project-2/blob/master/assets/az_subtle.png?raw=true');
    font-family: 'Museo', serif;
  }

  @font-face {
    font-family: 'Museo';
    src: url("assets/fonts/museo/museo-300-webfont.eot");
    src: 
    url("assets/museo/museo-300-webfont.woff") format("woff"),
    url("assets/museo/museo-300-webfont.ttf") format("truetype"),
    url("assets/museo/museo-300-webfont.svg#filename") format("svg");
    }
  
  .wrapper {
    width: 90%;
    margin: 0 auto;
  }

  .nav {
    display: flex;
    background-image: url('https://github.com/zachmeicho/Project-2/blob/master/assets/az_subtle.png?raw=true');
    flex-wrap: wrap;
    height: 100px;
    justify-content: space-between;
    align-items: center;
  }

  .social {
      display:flex;
      flex-wrap: wrap;
      width: 300px;
      flex-direction: column;
  }

  .sociallinks {
      display: flex;
      justify-content: flex-end;
  }
  
.icons {
    display:flex;
    justify-content: flex-end;
    margin-right: 50px;
}

  .navbar {
    display: flex;
    justify-content: space-around;
    padding-left: 70px;
    padding-right: 50px;
    width: 500px;
    align-items: center;
  }
  
  h6 {
    padding-right: 50px;
  }

  .feature {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .featurebanner {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
  .gallerysection {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  
  .gallery {
    width: 20%;
    margin: 2%
  }
  
  .galleryimg {
    width: 100%;
  }

  .navcenter {
    text-align: center;
    margin: 20px;
  }
  
  .gallerysection {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  
  .galleryimg {
    width: 100%;
  }
  
  .gallery {
    width: 20%;
    margin: 2%;
  }

  .button {
    background-image: url('https://github.com/zachmeicho/Project-2/blob/master/assets/az_subtle.png?raw=true');
    background-color: lightgrey;
    background-blend-mode: multiply;
    padding: 10px 60px;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 2px;
  }
  
  .button:hover {
    color: black;
  }

  .centerbutton {
    text-align: center;
    margin-top: 30px;
    margin-bottom:40px;
  }
  
  .footerbanner {
    text-align: center;
    background-image: url('https://github.com/zachmeicho/Project-2/blob/master/assets/az_subtle.png?raw=true');
    background-color: grey;
    background-blend-mode: multiply;
    margin: 0;
    padding: 15px 0px;
    
  }
  
  
  footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-image: url('https://github.com/zachmeicho/Project-2/blob/master/assets/az_subtle.png?raw=true');
    background-color: lightgrey;
    background-blend-mode: multiply;
  }
  
  .footerthirds {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 25%;
    margin: 4%;
    background-image: url('https://github.com/zachmeicho/Project-2/blob/master/assets/az_subtle.png?raw=true');
    background-color: lightgrey;
    background-blend-mode: multiply;
  }
  
  .footergallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  
  .navbar {
      display: flex;
      justify-content: space-around;
      padding-left: 0px;
      padding-right: 0px;
      width: 300px;
      align-items: center;
    }
  
  .search {
    font-size: 1.2em;
    color: grey;
    height: 30px;
    width: 250px;
    padding-top: 7px;
    padding-left: 20px;
    background-color: white;
  }
  
  .width {
    width: 500px;
  }

  .greybackground {
    background-image: url('https://github.com/zachmeicho/Project-2/blob/master/assets/az_subtle.png?raw=true');
    background-color: lightgrey;
    background-blend-mode: multiply;
  }

  .footernavbar {
    margin-left: 50px;
    display: flex;
    justify-content: space-around;
    padding-left: 0px;
    padding-right: 0px;
    width: 210px;
    align-items: center;
  }

  .footerspace {
    margin: 10px 10px;
  }